<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        7 Day Views
      </div>
      <div class="card-body">
        <canvas id="page-views" width="400" height="400" data-labels="<%= @count_by_date.keys %>"
          data-data="<%= @count_by_date.values %>">
        </canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        7 Day Unique Views
      </div>
      <div class="card-body">
        <canvas id="uniq-page-views" width="400" height="400" data-labels="<%= @uniq_count_by_date.keys %>"
                data-data="<%= @uniq_count_by_date.values %>">
        </canvas>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    var ctx = document.getElementById('page-views');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(ctx.dataset.labels),
            datasets: [{
                label: 'page_views',
                data: JSON.parse(ctx.dataset.data),
                borderWidth: 1
            }]
        }
    });

    var ctx = document.getElementById('uniq-page-views');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: JSON.parse(ctx.dataset.labels),
            datasets: [{
                label: 'uniq_page_views',
                data: JSON.parse(ctx.dataset.data),
                borderWidth: 1
            }]
        }
    });
</script>